<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms of Use</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 20px;
        padding: 0;
      }

      h1 {
        text-align: center;
      }

      .content {
        max-width: 800px;
        margin: 0 auto;
      }

      p {
        line-height: 1.6;
      }

      ul {
        margin-top: 10px;
      }

      li {
        margin-bottom: 5px;
      }

      
      @media only screen and (max-width: 600px) {
        .content {
          padding: 0 10px;
        }
      }
    </style>
</head>
<body>

  <header>
    {{> creators-header }}
  </header>
  
  <div class="content">
    <h1>Terms of Use</h1>
    <h3>Event Creators</h3>
    <p>Please read these Terms of Use carefully before using the Eventful app.</p>

    <h2>1. Acceptance of Terms</h2>
    <p>By using the Eventful app, you agree to be bound by these Terms of Use. If you do not agree to these terms, please do not use the app.</p>

    <h2>2. Creator Conduct</h2>
    <p>When using the Eventful app, you agree to:</p>
    <ul>
      <li>Operate your vehicle safely and in accordance with all applicable laws and regulations.</li>
      <li>Provide accurate information and maintain professionalism when interacting with attendees.</li>
      <li>Respect the privacy and property of attendees and the company.</li>
    </ul>

    <h2>3. Privacy Policy</h2>
    <p>Our Privacy Policy explains how we collect, use, and disclose information about creators. By using the Eventful app, you consent to the collection and use of your information.</p>

    <h2>4. Limitation of Liability</h2>
    <p>The Eventful app is provided on an "as is" basis. We are not liable for any damages resulting from the use of the app or from any interactions with attendees.</p>

    <h2>5. Changes to Terms</h2>
    <p>We reserve the right to update or modify these Terms of Use at any time. It is your responsibility to review these terms periodically.</p>
    <h2>6. Contact Us</h2>
    <p>If you have any questions about these Terms of Use, please contact us at <a href="mailto:sen4word@gmail.com" style="text-decoration: none;"><strong style="color: #3f0e38;">support@eventfulapp.com.</strong></a></p>
  </div>

  <footer>
    {{> creators-footer}}
  </footer>

</body>
</html>
