<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Password Reset</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f9f9f9;
      text-align: center;
      margin: 0;
      padding: 0;
    }

    .page-content {
      margin-top: 30px;
    }

    .page-content h2 {
      color: #333;
    }

    .page-content form {
      max-width: 500px;
      margin: 0 auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .page-content label {
      display: block;
      text-align: left;
      margin: 10px 0 5px;
    }

    .page-content input[type="text"],
    .page-content input[type="email"],
    .page-content input[type="password"],
    .page-content input[type="confirm_password"] {
      width: calc(100% - 20px);
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ddd;
      border-radius: 5px;
    }

    .page-content input[type="submit"] {
      width: 100%;
      padding: 10px;
      border: 2px solid #3f0e38;
      border-radius: 5px;
      background-color: #fff;
      color: #3f0e38;
      cursor: pointer;
    }

    .page-content a {
      text-decoration: none;
      color: #333;
      margin-left: 10px;
    }


    .page-content input[type="submit"]:hover {
      background-color: #6a4565;
      color: #fff;
    }

    .checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

    .checkbox-container input[type="checkbox"] {
      margin-right: 5px;
    }
    
    /* Password match icon */
    .password-match-icon {
      /* position: absolute;
      right: 10px;
      top: 50%; */
      /* transform: translateY(-50%); */
      color: #3f0e38; 
    }

    @media screen and (max-width: 768px) {
      .page-content form {
        max-width: 90%;
      }
    }
  </style>
</head>
<body>

  <header>
    {{> users-header-form }}
  </header>

  <div class="page-content">
    <h2>Password Reset (User)</h2>
    <p>Set a new password below.</p>

    {{#if messages.error}}
      <div class="alert alert-danger text-center">
        <ul>
          {{#each messages.error}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      </div>
    {{/if}}
    {{#if messages.success}}
      <div class="alert alert-success text-center">
        <li>{{messages.success}}</li>
      </div>
    {{else}}
      <form action="/views/users/reset-password" method="post">
        <label for="password">New Password:</label><br>
        <input type="password" id="password" name="password" value="" required><br>
        <!-- An element to toggle between password visibility -->
        <div class="checkbox-container">
          <input type="checkbox" onclick="myFunction()">Show Password
        </div>
        <label for="password" style="display: inline; text-align: left;">Confirm New Password:</label><span class="password-match-icon" style="display: inline;"></span><br><br>
        <div class="password-container">
          <input type="password" id="confirm_password" name="confirm_password" value="" required>
        </div><br>
        <div class="checkbox-container">
          <input type="checkbox" id="terms" name="terms" required>
          <label for="terms">I agree to the <a href="/views/users/terms" style="color: #3f0e38;" target="_blank">Terms of Use</a></label>
      </div>
        <input type="submit" class="btn" value="Change Password" style="font-weight: bolder;"> <a href="/views/users/reset-password"></a>
      </form> 
    {{/if}}
  </div>

  <footer>
    {{> users-footer}}
  </footer>

  <script>
    function myFunction() {
      var x = document.getElementById("password");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }

    // Function to check if passwords match
    function checkPasswordMatch() {
      var passwordInput = document.getElementById('password');
      var confirmPasswordInput = document.getElementById('confirm_password');
      var matchIcon = document.querySelector('.password-match-icon');

      if (passwordInput.value === '' || confirmPasswordInput.value === '') {
        matchIcon.innerHTML = '';
      } else if (passwordInput.value === confirmPasswordInput.value) {
        matchIcon.innerHTML = '<i class="fa fa-check-circle" style="color: green;" aria-hidden="true"></i>';
      } else {
        matchIcon.innerHTML = '<i class="fa fa-times-circle" style="color: red;" aria-hidden="true"></i>';
      }
    }

    document.getElementById('password').addEventListener('input', checkPasswordMatch);
    document.getElementById('confirm_password').addEventListener('input', checkPasswordMatch);
  </script>

</body>
</html>
